[submodule "Python/lab---python-basico-sebasnop"]
	path = Python/lab---python-basico-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---python-basico-sebasnop.git
[submodule "DA/1_pandas/lab---pandas-sebasnop"]
	path = DA/1_pandas/lab---pandas-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---pandas-sebasnop.git
[submodule "DA/2_sqlite3/lab---sqlite3-sebasnop"]
	path = DA/2_sqlite3/lab---sqlite3-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---sqlite3-sebasnop.git
[submodule "DA/4_ingestion/data-ingestion---clusters-report-sebasnop"]
	path = DA/4_ingestion/data-ingestion---clusters-report-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/data-ingestion---clusters-report-sebasnop.git
[submodule "DA/5_limpieza/lab---data-cleaning-solicitudes-credito-sebasnop"]
	path = DA/5_limpieza/lab---data-cleaning-solicitudes-credito-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---data-cleaning-solicitudes-credito-sebasnop.git
[submodule "ML/02_estadistica_inferencial/analisis-de-sentimientos-amazon-sebasnop"]
	path = ML/02_estadistica_inferencial/analisis-de-sentimientos-amazon-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/analisis-de-sentimientos-amazon-sebasnop.git
[submodule "ML/24_regresores_clasicos/lab---regresion-lineal-univariada-sebasnop"]
	path = ML/24_regresores_clasicos/lab---regresion-lineal-univariada-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---regresion-lineal-univariada-sebasnop.git
[submodule "ML/24_regresores_clasicos/regresion-lineal-multiple-insurance-sebasnop"]
	path = ML/24_regresores_clasicos/regresion-lineal-multiple-insurance-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/regresion-lineal-multiple-insurance-sebasnop.git
[submodule "ML/25_clasificadores_clasicos/regresion-logistica-mushrooms-sebasnop"]
	path = ML/25_clasificadores_clasicos/regresion-logistica-mushrooms-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/regresion-logistica-mushrooms-sebasnop.git
