[submodule "Python/lab---python-basico-sebasnop"]
	path = Python/lab---python-basico-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---python-basico-sebasnop.git
[submodule "da/lab---pandas-sebasnop"]
	path = da/lab---pandas-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---pandas-sebasnop.git
[submodule "da/lab---sqlite3-sebasnop"]
	path = da/lab---sqlite3-sebasnop
	url = git@github.com:classroom-fundamentos-de-analitica/lab---sqlite3-sebasnop.git
